    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-6">
            <div class="card mb-0" style="padding: 5px;">
                 <!--<div>
                    <span class="block text-500 font-medium mb-3">Live Camera</span>                       
                 </div>-->
           
                    <div class="text-center camera-block">
                        <div class="inline-block  text-center camera-item">
                            <img class="camera-image" src="../../../../assets/images/cam1.jpg">
                         </div>
     
                         <div class="inline-block camera-item">
                            <img class="camera-image" src="../../../../assets/images/cam2.jpg">
                          </div>

                          <div class="inline-block camera-item">
                            <img class="camera-image" src="../../../../assets/images/cam3.jpg">
                         </div>

                         <div class="inline-block camera-item">
                            <img class="camera-image" src="../../../../assets/images/cam4.jpg">
                         </div>
                    </div>                     
            </div>
        </div>
        
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card">

                <div class="col-12 text-center">
                    <span class="block text-500 font-medium mb-3">Today {{day}} {{date | date:'dd.MM.yyyy'}}</span>                   
                </div> 
                                            
                               
                   <div>
                    
                      <div class="inline-block" style="width: 120px; height: 100px;">
                        <img src="../../../../assets/icons/sun_and_cloud.png" width="120px" height="100px">
                       </div>  
    
                         <div class="inline-block " style="font-weight: bold;">
                            
                           <span style="font-size: 40px;">23</span>
                           <span class="opacity-40"  style="font-size: 20px; font-weight: bold;">/13°</span>
                            <hr style="color: black;">
                            <div>
                                <p>A sun with a cool</p>
                            </div>
                         </div>                        
                 </div>
                <div class="card" style="border-color: blue; ">
                   
                   
           
                    <app-week-weather></app-week-weather>
       

           
         </div>
     
     </div>
            
            
 </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Outdoor Temperature</span>
                        <div class="text-900 font-medium text-xl">{{temperature}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <!-- <i class="pi pi-shopping-cart text-blue-500 text-xl"></i> -->
                        <i><img src="../../../../assets/icons/temperature.png" width="25px" height="28px"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">since last visit</span>
            </div>
        </div>
         
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Customers</span>
                        <div class="text-900 font-medium text-xl">28441</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">520  </span>
                <span class="text-500">newly registered</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Comments</span>
                        <div class="text-900 font-medium text-xl">152 Unread</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">85 </span>
                <span class="text-500">responded</span>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-12">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-6">
                    <div>
                        <span class="block text-500 font-medium mb-3">Comments</span>
                        <div class="text-900 font-medium text-xl">152 Unread</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">85 </span>
                <span class="text-500">responded</span>
            </div>
        </div>
</div>

