<div class="time-section">
 <div class="first-section">
   <div class="time">
    <p>05 Mart, 2025</p>
    <h3>08:00</h3>
   </div>
   <div class="temperature">
    <div class="location">
      <img src="assets/svg/location.svg" alt="position">
      <p>Chisinau</p>
    </div>
    <div class="grades">
      <img src="assets/svg/sun-cloud.svg" alt="sun">
      <h3>28 C</h3>
    </div>
    <p>Outdoor Temperature</p>
   </div>
 </div>
 <div class="second-section">
    <div class="light-on-off">
       <div class="heading">
         <div class="description">
          <p>Light</p>
          <p>Bahlom Ltd</p>
         </div>
         <img src="assets/svg/light-bulb.svg" alt="icon">
       </div>
       <button>
        <img src="assets/svg/add.svg" alt="icon">
       </button>
    </div>

    <div class="light-on-off">
      <div class="heading">
        <div class="description">
         <p>Air Con</p>
         <p>Sharp 320</p>
        </div>
        <img src="assets/svg/air-cond.svg" alt="icon">
      </div>
      <button>
       <img src="assets/svg/add.svg" alt="icon">
      </button>
   </div>

   <div class="light-on-off">
    <div class="heading">
      <div class="description">
       <p>WiFi</p>
       <p>D-KM 345</p>
      </div>
      <img src="assets/svg/wifi.svg" alt="icon">
    </div>
    <button>
     <img src="assets/svg/add.svg" alt="icon">
    </button>
 </div>
 </div>
</div>