.bottom-navbar{
    display: flex;
    justify-content: space-between;
    background-color: #746c64;

    button{
        border: none;
        //background-color: #746c64;

        &:hover{
            cursor: pointer;
            opacity: 0.9;
        }
    }
}