.button-expand:hover{
color: rgb(88, 101, 176);
background-color: white;
border-color: white;
}

::ng-deep .p-button:focus {
    box-shadow: none;
}

::ng-deep .p-button {
    background: white;
    color: blue;
    border-color: white;
}